{% e/var/www/html/hummingbird-angularjsxtends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Mouvement des Colocs en transition</h1>
        <div class="center ">
            Ce réseau a pour objectif de mettre en relation des colocations en transition
            afin de se motiver et s’entraider à la mise en place d’actions concrètes pour un mode de vie plus résilient.
        </div>
        <div>
            <iframe width="100%" height="300px" frameBorder="0" src="https://umap.openstreetmap.fr/fr/map/cartto-des-eco-colocs_122760?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=true&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false#6/47.702/4.933">
            </iframe>
        </div>

    </>


    {# CARTE OPEN STREET MAP
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-6.8115234375%2C42.261049162113856%2C8.591308593750002%2C51.06901665960392&amp;layer=mapnik" style="border: 1px solid black">

    </iframe>
    <br/>
    <small>
        <a href="http://www.openstreetmap.org/#map=6/46.845/0.890">
            View Larger Map
        </a>
    </small>#}

{% endblock body %}