{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col s12">
            <h4 class="card-panel teal lighten-2 white-head">Enregistrement sur le site</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        </div>
    </div>
{% endblock body %}