{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les annonces</h1>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for colocation in colocations %}
                <tr>
                    <td><a href="{{ path('annonce_show', { 'id': annonce.id }) }}">{{ annonce.titre }}</td>
                    <td>{{ annonce.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<div class="center">
    <a class="btn waves-effect" href="{{ path('annonce_new') }}">Ajouter une nouvelle annonce</a>

</div>
{% endblock %}
