{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une nouvelle annonce</h1>
<div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="center">
        <input class="btn waves-effect" type="submit" value="Valider" />
    </div>
    {{ form_end(form) }}
</div>
    <div class="center">
        <a class="btn waves-effect" href="{{ path('annonce_index') }}">Retourner à la liste des annonces</a>
    </div>
{% endblock %}
