{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div>
        Pour ajouter ta colocation ou pour nous contacter :
        <a href="mailto:coloc@la-maison-bleue.org">coloc@la-maison-bleue.org</a>
    </div>
</div>
{% endblock body %}