{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div>
        Pour ajouter ta colocation ou pour nous contacter :
        <a href="mailto:contact@ecocolocs.fr">contact@ecocolocs.fr</a>
    </div>
</div>
{% endblock body %}