{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div>
        Pour nous contacter :
        <a href="mailto:marielle.lautrou@la-maison-bleue.org">marielle@la-maison-bleue.org</a>
    </div>
</div>
{% endblock body %}