{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>
            Présentation du mouvement
        </h1>
        <div>
            <h2>C’est quoi ?</h2>
            <p>
                Ce site émerge de la volonté de mettre en relation des colocations en transition.<br/>
                Nous souhaitons nous rencontrer pour partager et apprendre les un.es des autres, afin de s’entraider à la mise en place d’actions concrètes pour un mode de vie plus résilient.<br/>
                Ce mouvement est également l’occasion de rendre visible auprès du grand public des solutions pour mieux vivre ensemble dans un monde durable.
            </p>
        </div>
        <div>
            <h2>‘En transition’ ?</h2>
            <p>
                C’est une colocation qui a pour ambition d’abaisser son empreinte écologique dans la vie de tous les jours et de favoriser le vivre ensemble.
                Il n’y a pas de petite action ! Chacun.e avance à son rythme sur ce chemin de la “transition”, et chaque colocation est la bienvenue dans ce réseau.
            </p>
        </div>
        <div>
            <h2>Pourquoi un site ?</h2>
            <p>
                Ce site est un facilitateur, un outil pour aider à mettre en relation, de façon simple et libre, des colocations en transition. La création et l’utilisation de cet outil se base sur des logiciels libres (d’usage).<br/>
            </p>
        </div>
        <div>
            <h2>Un réseau, ensemble</h2>
            <p>
                Ce site est une expérimentation : il est potentiellement incomplet et améliorable. Nous souhaitons construire ce mouvement avec ses membres, et le site pourra évoluer avec le temps. N’hésitez pas à nous faire vos retours, et à nous contacter si vous souhaitez échanger sur ce projet !
            </p>
        </div>
        <div>
            <h2>Le projet m’intéresse, qu’est ce que je fais ?</h2>
            <p>
                A vous de jouer ! Il suffit de consulter la carte et les différents profils / colocations. Vous pouvez ajouter vous même une description de votre colocation, et laisser une adresse si vous souhaitez pouvoir être contacté par d’autres colocations !
            </p>
        </div>

        </div>
    </div>
{% endblock body %}